<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skill_26_1.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>skill_26_2.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>skill_26_3.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>skill_26_4.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>skill_26_5.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>skill_26_6.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>skill_26_7.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>skill_26_8.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>341</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>skill_26_9.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>skill_26_10.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>skill_26_11.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>41.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>skill_26_12.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>skill_260.png</string>
			<key>realTextureFileName</key>
			<string>skill_260.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>