<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skill_73_1.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-32</real>
			</dict>
			<key>skill_73_2.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>skill_73_3.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>skill_73_4.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>skill_73_5.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>skill_73_6.png</key>
			<dict>
				<key>width</key>
				<integer>226</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>skill_73_7.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>skill_73_8.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>499</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>skill_73_9.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>499</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-36</real>
			</dict>
			<key>skill_73_10.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>skill_730.png</string>
			<key>realTextureFileName</key>
			<string>skill_730.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>