<?xml version="1.0" encoding="utf-8" ?>
<config>
  <gamelist>
    <defaultitem>
      <game_name></game_name>
      <job_name_array>
      </job_name_array>
      <gk_good_id_judge>0</gk_good_id_judge>
      <gk_good_id_add>0</gk_good_id_add>
      <e5_hero_face_id_len>1</e5_hero_face_id_len>
      <e5_hero_rimg_id_len>1</e5_hero_rimg_id_len>
      <e5_job_attr_offset>0x9db4</e5_job_attr_offset>
      <e5_gk_attr_offset>0x8bb4</e5_gk_attr_offset>
      <e5_gk_num>96</e5_gk_num>
      <e5_item_attr_offset>0x818c</e5_item_attr_offset>
      <e5_item_num>0x68</e5_item_num>
      <star_e5_item_num>0</star_e5_item_num>
      <imsg_skill_info_offset>0x7f58</imsg_skill_info_offset>
      <imsg_hero_info_offset>0x2d050</imsg_hero_info_offset>
      <!-- imsg_hero_info_num为 -1 表示直接使用hero_info数量 -->
      <imsg_hero_info_num>174</imsg_hero_info_num>
    </defaultitem>
    <gameitem>
      <game_name>精忠报国岳飞传</game_name>
      <job_name_array>
        豪杰,元帅,元戎,轻步兵,重步兵,亲卫兵,弓兵,弩兵,强弩兵,轻骑兵,重骑兵,近卫队,弓骑兵,弩骑兵,强弩骑兵,小炮车
        ,重炮车,霹雳车,武术家,侠客,武林高手,贼兵,恶贼,义贼,咒术士,幻术士,玄术士,医师,良医,名医,道士,方士,异士,铁华车
        ,铁浮陀,鱼鳞军,女将,娘子军,木兰军,背嵬军,参军,水寇,驯熊师,驯虎师,统制,谋士,仙人,驼龙,拐子马,锤骑兵,双枪将,游奕军,粮草队
      </job_name_array>
      <job_items_count>18</job_items_count>
      <e5_job_num>0x35</e5_job_num>
      <e5_job_attr_size>0x1B</e5_job_attr_size>
      <e5_actor_face_id_len>2</e5_actor_face_id_len>
      <e5_jobLandLen>27</e5_jobLandLen>
      <e5_job_land_info_offset>0xa34B</e5_job_land_info_offset>
      <e5_skill_num>0x4a</e5_skill_num>
      <e5_skill_attr_offset>0xa99f</e5_skill_attr_offset>
      <e5_skill_attr_size>0x46</e5_skill_attr_size>
      <imsg_skill_info_offset>0x7530</imsg_skill_info_offset>
      <imsg_hero_info_num>-1</imsg_hero_info_num>
    </gameitem>
    <gameitem>
      <game_name>豪华曹操传</game_name>
      <job_name_array>
        翼虎,英雄,英杰,校刀手,朴刀手,大刀手,长枪兵,铁枪兵,武枪师,狱牛,勇将,虎将,弓骑兵,骑射队,突骑队,短弓兵,长弓兵,强矢兵,轻骑兵,重骑兵,先锋骑,
        弩车,霹雳车,井阑,医师,异士,军师,驯兽师,山贼,土偶,海贼,阴兽,都督,舞姬,异犬,咒术士,锦甲骑,汗血骑,飞将,西凉骑,神羿骑,武斗家,智囊将,步兵,御林军,玄术骑,
        白马骑,隐士,虎贲骑,木人,战将,元帅,将军
      </job_name_array>
      <occupation_type_array>
        君主,刀兵,枪兵,悍将,弓骑兵,弓兵,骑兵,炮车,文官,山贼,水师,奇兵,骁骑,西凉骑,神羿骑,武斗家,智慧将,步兵,御林军,玄术骑,白马骑,隐士,虎卫骑,木人,战将,元帅,将军
      </occupation_type_array>
      <job_items_count>18</job_items_count>
      <e5_job_num>0x35</e5_job_num>
      <e5_job_attr_size>0x1B</e5_job_attr_size>
      <e5_jobLandLen>27</e5_jobLandLen>
      <e5_job_land_info_offset>0xa34B</e5_job_land_info_offset>
      <e5_skill_num>0x4a</e5_skill_num>
      <e5_skill_attr_offset>0xa99f</e5_skill_attr_offset>
      <e5_skill_attr_size>0x46</e5_skill_attr_size>
      <e5_actor_face_id_len>2</e5_actor_face_id_len>
      <e5_gk_num>58</e5_gk_num>
      <imsg_skill_info_offset>0x7530</imsg_skill_info_offset>
      <imsg_hero_info_num>-1</imsg_hero_info_num>
    </gameitem>
    <gameitem>
      <game_name>续三国志英杰传</game_name>
      <job_name_array>
        群雄,英雄,霸王,轻步兵,重步兵,近卫兵,弓兵,弩兵,连弩兵,
        轻骑兵,重骑兵,亲卫队,弓骑兵,弩骑兵,连弩骑兵,轻炮车,重炮车,霹雳车,
        武术家,拳士,拳圣,贼兵,义贼,豪杰,策士,参谋,军师,
        医师,名医,神医,道士,方士,异士,骑马策士,骑马参谋,骑马军师,
        女兵,女将,巾帼,西凉骑,黄巾贼,海盗,投枪兵,城门,都督,
        咒术士,督军,虎豹骑,小霸王,骁骑,战神,皇帝,百姓
      </job_name_array>
      <job_items_count>18</job_items_count>
      <gk_good_id_judge>0</gk_good_id_judge>
      <gk_good_id_add>0</gk_good_id_add>
      <e5_job_num>0x35</e5_job_num>
      <e5_job_attr_size>0x1b</e5_job_attr_size>
      <e5_jobLandLen>27</e5_jobLandLen>
      <e5_job_land_info_offset>0xa34b</e5_job_land_info_offset>
      <e5_skill_num>0x49</e5_skill_num>
      <e5_skill_attr_offset>0xa99f</e5_skill_attr_offset>
      <e5_skill_attr_size>0x46</e5_skill_attr_size>
      <imsg_skill_info_offset>0x7530</imsg_skill_info_offset>
    </gameitem>
    <gameitem>
      <game_name>宋江传</game_name>
      <job_name_array>
        群雄,英雄,霸王,轻步兵,重步兵,近卫兵,弓兵,弩兵,连弩兵,
        轻骑兵,重骑兵,亲卫队,弓骑兵,弩骑兵,连弩骑兵,轻炮车,重炮车,霹雳车,
        武术家,拳士,拳圣,贼兵,义贼,豪杰,策士,参谋,军师,
        风水士,方术士,仙术士,道士,幻术士,妖术士,骑马策士,骑马参谋,骑马军师,
        舞娘,舞姬,巫女,西凉骑兵,黄巾军,海盗,驯熊师,驯虎师,都督,
        咒术士,仙人,辎重队,粮草队,木人,土偶,皇帝,百姓
      </job_name_array>
      <job_items_count>18</job_items_count>
      <gk_good_id_judge>87</gk_good_id_judge>
      <gk_good_id_add>413</gk_good_id_add>
      <e5_hero_face_id_len>2</e5_hero_face_id_len>
      <e5_hero_rimg_id_len>2</e5_hero_rimg_id_len>
      <e5_job_num>0x35</e5_job_num>
      <e5_job_attr_size>0x1b</e5_job_attr_size>
      <e5_jobLandLen>27</e5_jobLandLen>
      <e5_job_land_info_offset>0xa445</e5_job_land_info_offset>
      <e5_skill_num>0x49</e5_skill_num>
      <e5_skill_attr_offset>0xa99f</e5_skill_attr_offset>
      <e5_skill_attr_size>0x46</e5_skill_attr_size>
      <imsg_skill_info_offset>0x7530</imsg_skill_info_offset>
    </gameitem>
    <gameitem>
      <game_name>曹操传</game_name>
      <job_name_array>
        群雄,英雄,霸王,轻步兵,重步兵,近卫兵,弓兵,弩兵,连弩兵,
        轻骑兵,重骑兵,亲卫队,弓骑兵,弩骑兵,连弩骑兵,轻炮车,重炮车,霹雳车,
        武术家,拳士,拳圣,贼兵,义贼,豪杰,策士,参谋,军师,
        风水士,方术士,仙术士,道士,幻术士,妖术士,骑马策士,骑马参谋,骑马军师,
        舞娘,舞姬,巫女,西凉骑兵,黄巾军,海盗,驯熊师,驯虎师,都督,
        咒术士,仙人,辎重队,粮草队,木人,土偶,皇帝,百姓
      </job_name_array>
      <job_items_count>18</job_items_count>
      <e5_job_num>53</e5_job_num>
      <e5_job_attr_size>0x1b</e5_job_attr_size>
      <e5_job_attr_offset>0x53dc</e5_job_attr_offset>
      <e5_jobLandLen>27</e5_jobLandLen>
      <e5_job_land_info_offset>0x5973</e5_job_land_info_offset>
      <e5_skill_num>73</e5_skill_num>
      <e5_skill_attr_offset>0x5fc7</e5_skill_attr_offset>
      <e5_skill_attr_size>0x46</e5_skill_attr_size>
      <e5_gk_attr_offset>0x4bb4</e5_gk_attr_offset>
      <e5_gk_num>58</e5_gk_num>
      <e5_item_attr_offset>0x418c</e5_item_attr_offset>
      <imsg_skill_info_offset>0x7530</imsg_skill_info_offset>
      <imsg_hero_info_offset>0x15f90</imsg_hero_info_offset>
    </gameitem>
        <gameitem>
      <game_name>瑰丽就缺</game_name>
      <job_name_array>
        风水士,仙术士,大法师,轻步兵,重步兵,近卫兵,弓兵,弩兵,连弩兵,
        轻骑兵,重骑兵,亲卫队,弓骑兵,弩骑兵,连弩骑兵,飞将,将星,雷将,
        刀斧手,侠客,虎贲,石怪,石王,石神,总兵,元戎,统帅,
        剑童,剑士,剑仙,道士,咒士,天尊,仙子,仙姑,玄女,
        女兵,女将,巾帼,童子,灵童,八臂圣童,兽骑士,灵兽士,圣兽士,
        练气士,方士,真人,土行者,土行师,土神,护法,金刚,
        法王,异士,术士,幻士,文官,大夫,上大夫,火神,地神,
        玄士,风神,水神,力士,诸侯,君王,障碍,法师,阴阳师,
        雷神,教主,妖精,万刃车,水兽,飞兽,猛兽,瘟神,修真
      </job_name_array>
      <job_items_count>26</job_items_count>
      <e5_job_num>0x50</e5_job_num>
      <e5_job_attr_size>0x23</e5_job_attr_size>
      <e5_jobLandLen>40</e5_jobLandLen>
      <e5_job_land_info_offset>0xa8a4</e5_job_land_info_offset>
      <e5_skill_num>0x4a</e5_skill_num>
      <e5_skill_attr_offset>0xb204</e5_skill_attr_offset>
      <e5_skill_attr_size>0x61</e5_skill_attr_size>
      <star_e5_item_num>60</star_e5_item_num>
      <!-- imsg_hero_info_num为 -1 表示直接使用hero_info数量 -->
      <imsg_hero_info_num>-1</imsg_hero_info_num>
    </gameitem>
    <gameitem>
      <game_name>封神榜</game_name>
      <job_name_array>
        风水士,仙术士,大法师,轻步兵,重步兵,近卫兵,弓兵,弩兵,连弩兵,
        轻骑兵,重骑兵,亲卫队,弓骑兵,弩骑兵,连弩骑兵,飞将,将星,雷将,
        刀斧手,侠客,虎贲,石怪,石王,石神,总兵,元戎,统帅,
        剑童,剑士,剑仙,道士,咒士,天尊,仙子,仙姑,玄女,
        女兵,女将,巾帼,童子,灵童,八臂圣童,兽骑士,灵兽士,圣兽士,
        练气士,方士,真人,土行者,土行师,土神,护法,金刚,
        法王,异士,术士,幻士,文官,大夫,上大夫,火神,地神,
        玄士,风神,水神,力士,诸侯,君王,障碍,法师,阴阳师,
        雷神,教主,妖精,万刃车,水兽,飞兽,猛兽,瘟神,修真
      </job_name_array>
      <e5_hero_face_id_len>2</e5_hero_face_id_len>
      <e5_hero_rimg_id_len>2</e5_hero_rimg_id_len>
      <job_items_count>18</job_items_count>
      <e5_job_num>0x50</e5_job_num>
      <e5_job_attr_size>0x23</e5_job_attr_size>
      <e5_jobLandLen>40</e5_jobLandLen>
      <e5_job_land_info_offset>0xa8a4</e5_job_land_info_offset>
      <e5_skill_num>0x4a</e5_skill_num>
      <e5_skill_attr_offset>0xb204</e5_skill_attr_offset>
      <e5_skill_attr_size>0x61</e5_skill_attr_size>
      <star_e5_item_num>60</star_e5_item_num>
      <!-- imsg_hero_info_num为 -1 表示直接使用hero_info数量 -->
      <imsg_hero_info_num>-1</imsg_hero_info_num>
    </gameitem>
    <gameitem>
      <game_name>东吴传</game_name>
      <job_name_array>
        群雄,英雄,霸王,轻步兵,重步兵,近卫兵,弓兵,弩兵,连弩兵,
        轻骑兵,重骑兵,亲卫队,弓骑兵,弩骑兵,连弩骑兵,轻炮车,重炮车,霹雳车,
        武术家,拳士,拳圣,贼兵,义贼,豪杰,策士,参谋,军师,
        医师,名医,神医,道士,方士,异士,骑马策士,骑马参谋,骑马军师,
        女兵,女将,巾帼,西凉骑,黄巾贼,海盗,投枪兵,城门,都督,
        咒术士,督军,虎豹骑,小霸王,骁骑,战神,皇帝,百姓
      </job_name_array>
      <job_items_count>18</job_items_count>
      <gk_good_id_judge>87</gk_good_id_judge>
      <gk_good_id_add>413</gk_good_id_add>
      <e5_job_num>0x35</e5_job_num>
      <e5_job_attr_size>0x1b</e5_job_attr_size>
      <e5_jobLandLen>27</e5_jobLandLen>
      <e5_job_land_info_offset>0xa34b</e5_job_land_info_offset>
      <e5_skill_num>0x49</e5_skill_num>
      <e5_skill_attr_offset>0xa99f</e5_skill_attr_offset>
      <e5_skill_attr_size>0x46</e5_skill_attr_size>
      <imsg_skill_info_offset>0x7530</imsg_skill_info_offset>
    </gameitem>
  </gamelist>
</config>