<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skill_57_31.png</key>
			<dict>
				<key>width</key>
				<integer>491</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>327</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>skill_57_32.png</key>
			<dict>
				<key>width</key>
				<integer>493</integer>
				<key>height</key>
				<integer>311</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>327</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>skill_57_33.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>327</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>skill_57_34.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>327</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>629</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>skill_57_35.png</key>
			<dict>
				<key>width</key>
				<integer>469</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>327</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>skill_57_09.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>596</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>skill_57_10.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>skill_57_11.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>819</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>skill_57_12.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>596</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>skill_57_13.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>skill_57_14.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>834</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>skill_571.png</string>
			<key>realTextureFileName</key>
			<string>skill_571.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>