<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game_root_src</key>
	<string>/Users/gaohaibin/GAME/resource/trgame</string>
	<key>games</key>
	<array>
		<dict>
			<key>game_name</key>
			<string>sgzccz</string>
			<key>profile_name</key>
			<string>CaoCaoZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>三国志曹操传</string>
				<key>CFBundleName</key>
				<string>三国志曹操传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.ccz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>

		<dict>
			<key>game_name</key>
			<string>sgzdwz</string>
			<key>profile_name</key>
			<string>DongWuZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>三国志东吴传</string>
				<key>CFBundleName</key>
				<string>三国志东吴传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.dwz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>

		<dict>
			<key>game_name</key>
			<string>yjjcq</string>
			<key>profile_name</key>
			<string>YangJiaJiang</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>杨家将传奇</string>
				<key>CFBundleName</key>
				<string>杨家将传奇</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.yjj</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>

		<dict>
			<key>game_name</key>
			<string>sgzcczwljqb</string>
			<key>profile_name</key>
			<string>CaoCaoZhuanWL</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>三国志曹操传威力加强版</string>
				<key>CFBundleName</key>
				<string>三国志曹操传威力加强版</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.cczwl</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>

		<dict>
			<key>game_name</key>
			<string>sgzzyz</string>
			<key>profile_name</key>
			<string>ZhaoYunZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>三国志赵云传</string>
				<key>CFBundleName</key>
				<string>三国志赵云传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.zyz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>ssgshz</string>
			<key>profile_name</key>
			<string>ShengSanGuo</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>圣三国蜀汉传</string>
				<key>CFBundleName</key>
				<string>圣三国蜀汉传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.ssgzyjz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>fsyjz</string>
			<key>profile_name</key>
			<string>FengShenYingJieZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>封神英杰传</string>
				<key>CFBundleName</key>
				<string>封神英杰传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.fsyjz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>shsjz</string>
			<key>profile_name</key>
			<string>SongJiangZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>水浒宋江传</string>
				<key>CFBundleName</key>
				<string>水浒宋江传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.sjz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>ssgwz</string>
			<key>profile_name</key>
			<string>ShengSanGuoWeiZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>圣三国魏传</string>
				<key>CFBundleName</key>
				<string>圣三国魏传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.ssgwz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>hxbzyz</string>
			<key>profile_name</key>
			<string>HuanXiangBanZhaoYunZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>幻想版赵云传</string>
				<key>CFBundleName</key>
				<string>幻想版赵云传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.hxbzyz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>jzbgyfz</string>
			<key>profile_name</key>
			<string>YueFeiZhuan</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>精忠报国岳飞传</string>
				<key>CFBundleName</key>
				<string>精忠报国岳飞传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.yfz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>shzwlp</string>
			<key>profile_name</key>
			<string>SHZWLP</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>蜀汉传卧龙篇</string>
				<key>CFBundleName</key>
				<string>蜀汉传卧龙篇</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.shzwlp</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>ssgshzftb</string>
			<key>profile_name</key>
			<string>SSGSHZFTB</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>桃園英雄傳奇</string>
				<key>CFBundleName</key>
				<string>桃園英雄傳奇</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.ssgshzftb</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>hhccz</string>
			<key>profile_name</key>
			<string>HHCCZ</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>豪华曹操传</string>
				<key>CFBundleName</key>
				<string>豪华曹操传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.hhccz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
		
		<dict>
			<key>game_name</key>
			<string>dwbwz</string>
			<key>profile_name</key>
			<string>DWBWZ</string>
			<key>game_special_infoplist</key>
			<dict>
				<key>CFBundleDisplayName</key>
				<string>东吴霸王传</string>
				<key>CFBundleName</key>
				<string>东吴霸王传</string>
				<key>CFBundleIdentifier</key>
				<string>com.bantu.haima.dwbwz</string>
				<key>externalAppStoreURL</key>
				<string>http://www.trgame.cn</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
